.dialog__messages {

  .dialog__inputs {

    padding-bottom: 20px;

    .dialog__inputs__btn {
      border: 2px solid gold;
    }

  }

  .dialog__messages {

    div {
      padding-bottom: 10px;
      border-bottom: 1px solid salmon;
    }

  }

}